*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a{
    color: inherit;
}

button{
    cursor: pointer;
}

.container{
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
}

.df{
    display: flex;
    align-items: center;
}